html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    cursor: url('./images/pointer.png'), auto;
    background: black;
}

canvas {
    width: 100%;
    height: auto;
    background: #111;
}

#startScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
}

#startScreen h1 {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 45px;
    font-weight: normal;
}

#mainContent {
    display: none;
}

#valentinesButton {
    display: none;
    position: absolute;
    background-color: #2d2dff;
    border: 2px solid #2d2dff;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 10px;
    top: calc(50% + 150px);
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#valentinesButton:hover {
    background-color: #1f1faa;
    color: #eee;
}
